version: "3.8"

services:
  # 1. The Database
  postgres:
    image: postgres:15-alpine
    container_name: campus_postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. The Traffic Controller
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - gig-service
      - payment-service
      - chat-service

  # 3. Microservices
  user-service:
    build: ./user-service
    ports:
      - "5001:5001"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres

  gig-service:
    build: ./gig-service
    ports:
      - "5002:5002"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres

  payment-service:
    build: ./payment-service
    ports:
      - "5003:5003"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
      - RAZORPAY_KEY_SECRET=${RAZORPAY_KEY_SECRET}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres

  chat-service:
    build: ./chat-service
    ports:
      - "5004:5004"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres

  # 4. Frontend Client
  client:
    build: ./client
    ports:
      - "5173:5173"
    stdin_open: true
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  postgres_data: